# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IDE specific files
/.idea
*.iml
*.ipr
*.iws

# Maven specific
/target/

# Gradle specific
/.gradle
/build/

# Eclipse specific
/.settings
/.classpath
/.project
/.metadata
/.recommenders
/bin/
tmp/

# IntelliJ specific
/out/
target/
target/
