.highlight {
    -fx-background-color: yellow;
    -fx-border-color: yellow;
    -fx-border-width: 2;
}

.stack-highlight {
    -fx-background-color: yellow;
    -fx-border-color: yellow;
    -fx-border-width: 2;
}
